[user]
	name = aleccunningham
	email = aleccunningham96@gmail.com
[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[color]
  	ui = true
[color "branch"]
  	current = yellow reverse
  	local = yellow
  	remote = green
[color "diff"]
  	meta = yellow bold
  	frag = magenta bold
  	old = red bold
  	new = green bold
[color "status"]
  	added = yellow
  	changed = green
  	untracked = cyan
[branch "master"]
  	remote = origin
  	merge = refs/heads/master
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[gui]
	# Remove `git gui` popup warning
	gcwarning = false
[help]
	autocorrect = 1
[merge]
	tool = meld
[mergetool]
	keepBackup = false
[mergetool "meld"]
	cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[pull]
	rebase = true
[push]
	default = simple
[rebase]
	autoStash = true
[github]
	user = aleccunningham
	# token = tokenn
[alias]
	a = add --all
  	co = checkout
	cob = checkout --branch 
  	b = branch
	bd = branch -d
	bc = rev-parse --abbrev-ref HEAD
	bu = !git rev-parse --abbrev-ref --symbolic-full-name "@{u}"
	cm = commit
	ca = commit -a
	cm = commit -m
	cam = commit -am
	cem = commit --allow-empty -m 
	cl = clone
	d = diff
	f = fetch
	f = fetch origin 
	f = fetch upstream
	l = log --oneline
	lg = log --oneline --graph --decorate
	p = push
	pf = push -f
	pu = push -u
	pt = push --tags
	pom = push origin master
	pinit = push -u origin master
	pl = pull
	plb = pull --rebase
	plo = pull origin 
	plm = pull origin master
	plob = pull --rebase origin 
	plu = pull upstream
	plum = pull upstream master 
	plumb = pull --rebase upstream master
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --innteractive
	rbs = rebase --skip
	re = reset
	rh = reset HEAD
	reh = reset --hard
	res = reset --soft
	rehh = reset --hard HEAD
	hesh = reset --soft HEAD
	r = remote
	ra = remote add
	rrm = remote rm
	rv = remote -v
	rn = remote rename
	rp = remote prune
	rs = remote show
	rao = remote add origin 
	rau = remote add upstream 
	rro = remote remove origin
	rru = remote remove upstream 
	rso = remote show origin
	rsu - remote show upstream 
	rpo = remote prune origin
	rpu = remote prune upstream
	rmf = rm -f
	st = status
	stb = status -s -b
	s = stash
	sa = stash apply 
	sc = stash clear
	sd = stash drop
	sl = stash list
	sp = stash pop
	ss = stash save
	sw = stash show
	t = tag
	td = tag -d
	w = show
	wp = show -p
	wr = show -p --no-color
	whois = !sh -c 'git log -i -1 --author=\"$1\" --pretty=\"format:%an <%ae>\"' -
	aliases = !git config -l | grep alias | cut -c 7-
	behind = !git rev-list --left-only --count $(git bu)...HEAD
	ahead = !git rev-list --right-only --count $(git bu)...HEAD
	human = name-rev --name-only --refs=refs/heads/*
