Host manager0
  HostName ec2-35-165-207-118.us-west-2.compute.amazonaws.com
  ForwardAgent yes

Host github.com
  IdentityFile ~/.ssh/github

Host *
  Protocol 2
  HashKnownHosts yes
  IdentitiesOnly yes
  VisualHostKey yes
  PasswordAuthentication no
  StrictHostKeyChecking ask
  ControlMaster auto
  ControlPath ~/.ssh/master-%r@%h:%p
  ControlPersist 2m
  UseRoaming no
